<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nim, style: "display: block" %>
    <%= form.text_field :nim %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :git_repo, style: "display: block" %>
    <%= form.text_field :git_repo %>
  </div>

  <div>
    <%= form.label :account_git, style: "display: block" %>
    <%= form.text_field :account_git %>
  </div>

  <div>
    <%= form.label :commits, style: "display: block" %>
    <%= form.number_field :commits %>
  </div>

  <div>
    <%= form.label :code_commits, style: "display: block" %>
    <%= form.number_field :code_commits %>
  </div>

  <div>
    <%= form.label :lines_added, style: "display: block" %>
    <%= form.number_field :lines_added %>
  </div>

  <div>
    <%= form.label :lines_deleted, style: "display: block" %>
    <%= form.number_field :lines_deleted %>
  </div>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <%= form.text_field :course_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
