<div id="<%= dom_id student %>">
  <p>
    <strong>Nim:</strong>
    <%= student.nim %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Git repo:</strong>
    <%= student.git_repo %>
  </p>

  <p>
    <strong>Account git:</strong>
    <%= student.account_git %>
  </p>

  <p>
    <strong>Commits:</strong>
    <%= student.commits %>
  </p>

  <p>
    <strong>Code commits:</strong>
    <%= student.code_commits %>
  </p>

  <p>
    <strong>Lines added:</strong>
    <%= student.lines_added %>
  </p>

  <p>
    <strong>Lines deleted:</strong>
    <%= student.lines_deleted %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= student.course_id %>
  </p>

</div>
