<p style="color: green"><%= notice %></p>

<div id="courses">
  <table id="courses-table">
    <thead>
      <tr>
        <th><%= link_to "ID", courses_path(sort: "id") %></th>
        <th><%= link_to "Name", courses_path(sort: "name") %></th>
        <th><%= link_to "Actions", "#" %></th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.id %></td>
          <td><%= course.name %></td>
          <td>
            <%= link_to "Show", course, class: "btn btn-primary" %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $('#courses-table').DataTable();
  });
</script>